<%= link_to 'Back to all erasure requests', erasure_requests_path %>

<p>
  <strong>Email:</strong>
  <%= @erasure_request.email %>
</p>

<% @erasure_request.removal_actions.each do |removal_action| %>
  <%= removal_action.property.name %>
  <%= removal_action.completed %>
<% end %>