<%= link_to 'Back to all properties', properties_path %>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @property.url %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @property.notes %>
</p>